:root {
}

.Button {
    transition-timing-function: ease-out-back;
    transition-duration: 0.5s;
}

.Button:hover {
    scale: 1.05 1.05;
    transition-timing-function: ease-out-back;
    transition-duration: 0.5s;
}
