:root {
}

.header {
    font-size: 109px;
    color: rgb(255, 255, 255);
    justify-content: flex-start;
    align-self: center;
    margin-top: 247px;
}

.button {
    font-size: 61px;
    width: 348px;
    height: 98px;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 90px;
}
